
 <h1 class="mat-h1" (click)="courseClickedEvent()">{{headerCourse}}</h1>
 <button mat-raised-button (click)="courseButtonClickedEvent()">{{courseButtonName}}</button>

<h1 class="mat-h1" (click)="studentClickedEvent()">{{headerStudent}}</h1>
<button mat-raised-button (click)="studentButtonClickedEvent()">{{studentButtonName}}</button>


<h1 class="mat-h1" (click)="teacherClickedEvent()">{{headerTeacher}}</h1>
<button mat-raised-button (click)="teacherButtonClickedEvent()">{{teacherButtonName}}</button>

